@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YIKES;
  src: url('./Yikes.otf');
  font-display: swap;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: YIKES;
}

.yikes {
  font-family: YIKES;
}

.spooky-hover {
  @apply bg-purple-700 px-6 py-2 font-bold rounded-md hover:bg-yellow-500 transform hover:rotate-2 transition-all;
}