@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YIKES;
  src: url('./Yikes.otf');
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: YIKES;
}

.yikes {
  font-family: YIKES;
}